.formPattern {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    

    span {
        margin: 10px;
        padding-bottom: 8px;
    }
}

@media (max-width: 767px) {
    .formPattern {
        flex-direction: column;
    }
}